input, select {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0 0.5em;
    line-height: 1.65em;
    height: 1.65em;
    font-weight: 500;
    background: none;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 103%;
    background-image: linear-gradient(
        90deg,
        $neon-green 0%,
        $neon-blue 100%
    );
    border-radius: 0;
    color: $neon-yellow;
    transition: all .3s ease;
    display: inline-block;
    width: 10em;

    &:hover {
        background-color: $neon-hot-pink;
        background-image: linear-gradient(
            90deg,
            $neon-orange 0%,
            $neon-green 100%
        );
    }

    &::placeholder {
        color: $neon-yellow;
    }

    &:focus {
        background-color: $neon-violet;
        outline: none;
    }
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  line-height: 1.65em;
  height: 1.65;
  //transform: rotateX(45deg) rotateY(-10deg) rotate(25deg) scale(2)
  .label {
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 1.65em;
    color: $neon-yellow;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
  }
}

select {
    background-image: url(../img/chevron-arrow-down.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 6%;

    &:hover {
        background-image: url(../img/chevron-arrow-down.svg);
    }
}

.error-area {
    color: $neon-red;
}