header {
    width: 100%;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    top: 0;

    @media screen and (min-width: $tablet) {
        padding: 1.5rem;
    }

    @media screen and (min-width: $small-desktop) {
        padding: 2.5rem;
    }

    a {
        background: none;
        background-image: none;
    }

    .logo-area {
        .site-logo {
            width: 35px;
            height: auto;

            @media screen and (min-width: $tablet) {
                width: 60px;
            }

            @media screen and (min-width: $small-desktop) {
                width: 75px;
            }
        }
    }
}
