.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    p {
        font-size: 0.85em;
    }

    .image {
        width: 100%;
        padding: 5px;
        height: auto;
        flex: 0 0 auto;
        text-align: center;

        &.inline-half {
            width: 100%;

            @media screen and (min-width: $tablet) {
                width: 50%;
            }
        }

        &.inline-third {
            width: 100%;

            @media screen and (min-width: $tablet) {
                width: 33.333333%;
            }
        }

        img {
            max-width: 100%;
            height: auto;
            max-height: 800px;
            box-shadow: 0 0 10px rgba(0,0,0,0.35);
        }

        video {
            max-width: 100%;
        }
    }
}