.section-header {
    perspective: 600px;
}

.transition-fade {
    transition: 0.5s $ease-in-out;
    opacity: 1;
}

.transition-expand {
    transition: all 0.7s $ease-back-snappy;
    opacity: 1;
    transform-origin: 0 100%;
    max-width: 100%;
}

.transition-slide-right {
    transition: all 0.7s $ease-back-snappy;
    opacity: 1;
    transition-delay: 0.05s;
}

html {
    &.is-animating {
        .transition-expand {
            text-shadow: -0.9em 0.9em 0 $neon-violet, -1.8em 1.8em 0 $neon-magenta;
            transform: rotateY(45deg) rotateX(50deg) translate3d(0.45em, 0.45em, 0em);
            opacity: 0;
        }

        .transition-slide-right {
            transform: translate(20%, 0);
            opacity: 0;
        }   

        .transition-fade {
            opacity: 0;
        }


        &.is-leaving {
            .transition-fade {
                opacity: 0;
            }

            .transition-expand {
                text-shadow: -0.9em 0.9em 0 $neon-violet, -1.8em 1.8em 0 $neon-magenta;
                transform: rotateY(45deg) rotateX(50deg) translate3d(0.45em, -0.45em, 1em);
                opacity: 0;
                span {
                    -webkit-animation: flash 0.5s;
                    animation: flash 0.5s;
                }
            }

            .transition-slide-right {
                transform: translate(-20%, 0);
                opacity: 0;
            }    
        }
    }

    &.is-rendering {

        .transition-expand {
            span {
                -webkit-animation: flashIn 0.5s;
                animation: flashIn 0.5s;
            }
        }
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0.1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0.1;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0.1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes flashIn {
    0% {
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0.1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0.1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flashIn {
    0% {
        opacity: 0.1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0.1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0.1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0.1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
