@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Kelly+Slab&display=swap");

h1,
h2,
h3,
h4,
h3,
h6 {
    font-family: "Kelly Slab", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}

h1 {
    font-size: 2rem;
    color: $neon-yellow;
    text-shadow: -3px 3px 0 $neon-violet, -6px 6px 0 $neon-magenta;
    transition: all 0.3s ease-out;
    z-index: 10;
    display: inline-block;

    @media screen and (min-width: $tablet) {
        font-size: 3.5rem;
    }

    @media screen and (min-width: $small-desktop) {
        font-size: 4rem;
    }

    @media screen and (min-width: $desktop) {
        font-size: 4.5rem;
    }

    @media screen and (min-width: $large-desktop) {
        font-size: 4.75rem;
    }

    @media screen and (min-width: $xl-desktop) {
        font-size: 5rem;
    }

    a {
        text-decoration: none;
        background: none;
        text-shadow: none;

        &:hover {
            text-decoration: none;
        }
    }
}

h3 {
    font-size: 1.25rem;
    color: $neon-yellow;
    text-shadow: -2px 2px 0 $neon-violet, -4px 4px 0 $neon-magenta;
    transition: all 0.3s ease-out;
    z-index: 10;
    display: inline-block;

    @media screen and (min-width: $tablet) {
        font-size: 1.75rem;
    }

    @media screen and (min-width: $small-desktop) {
        font-size: 2rem;
    }

    @media screen and (min-width: $desktop) {
        font-size: 3rem;
    }
}

body {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 1rem;
    line-height: 1.65em;

    @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: $small-desktop) {
        font-size: 1.75rem;
    }

    @media screen and (min-width: $large-desktop) {
        font-size: 2rem;
    }
}

p {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;

    + h3 {
        margin-top: 2rem;
    }
}

.selected {
    background-color: $neon-magenta;
    color: white;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0 0.5em;

    &.error {
        background-color: $neon-red;
    }

    &.success {
        background-color: $neon-green;
    }

    a {
        color: $neon-purple;
        background-color: black;
    }
}

.purple-link {
    color: $neon-purple;
    background-image: linear-gradient(
        90deg,
        $neon-hot-pink 0%,
        $neon-violet 100%
    );
    background-repeat: no-repeat;

    &.with-background {
        color: black;
        background-color: $neon-yellow;
        text-shadow: 0 0 0.33em rgba(0, 0, 0, 0);

        &:hover {
            color: $neon-yellow;
            background-color: transparent;
            text-shadow: 0 0 0.33em rgba(0, 0, 0, 0.25);
        }
    }
}

button {
    appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    line-height: 1.65em;
    margin: 0;
    padding-bottom: 0 !important;
}

a,
button {
    color: $neon-yellow;
    padding: 0 0.3125em 0.15625em;
    background-image: linear-gradient(90deg, $neon-green 0%, $neon-blue 100%);
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all 0.3s;
    background-size: 100% 0.2em;
    background-position: 0 103%;
    font-weight: 700;

    &:hover {
        text-decoration: none;
        background-size: 100% 104%;
        color: $neon-green;
    }
}


