@import "compass"
@import "susy"
@import "variables"
@import "breakpoint"

$susy: (columns: 12, gutters: 1/4, math: fluid, output: float, gutter-position: inside, global-box-sizing: border-box, use-custom: (rem: true))

+border-box-sizing

@font-face
	font-family: 'Metropolis'
	src: url('../fonts/metropolis_1920-webfont.eot')
	src: url('../fonts/metropolis_1920-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/metropolis_1920-webfont.woff2') format('woff2'), url('../fonts/metropolis_1920-webfont.woff') format('woff'), url('../fonts/metropolis_1920-webfont.ttf')  format('truetype'), url('../fonts/metropolis_1920-webfont.svg') format('svg')

@font-face
	font-family: 'socicon'
	src: url('../fonts/socicon.eot')
	src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg#sociconregular') format('svg')
	font-weight: normal
	font-style: normal
	text-transform: initial

body
	background-color: black
	background-image: url("../img/bg.png")
	background-repeat: no-repeat
	background-size: cover
	background-attachment: fixed
	background-position: 50% 0
	font-family: 'Open Sans Condensed', sans-serif
	color: white

main
	+container(80%)
	max-width: 1100px
	height: 70vh
	position: relative
	.nav
		position: absolute
		width: 100%
		top: 30%
		left: 50%
		transform: translate(-50%, -50%)
		text-align: center
		transition: all 0.3 ease
	ul
		list-style: none
		text-align: center
		display: inline-block
		padding: 0
		width: 100%
		height: 150px
		li
			display: inline-block
			position: relative
			width: 33%
			height: 150px
			padding: 20px 0
			//margin: 0 50px
			font-family: 'Metropolis'
			font-size: 80px
			border: 0
			border-style: solid
			border-color: rgba(255, 255, 255, 0)
			&:hover
				border-bottom: 30px
				border-color: rgba(255, 255, 255, 1)
			p
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				transition: all 0.3s ease
				text-shadow: 0 45px 25px $shadow
				a
					color: white
					text-decoration: none
					&::after
						content: ''
						position: absolute
						top: 100%
						left: -2px
						width: 100%
						border-width: 3px
						border-style: solid
						border-color: white
						pointer-events: none
						transform: scale3d(0,1,1)
						transition: transform 0.5s
						transition-timing-function: cubic-bezier(0.2,1,0.3,1)
						box-shadow: 0 45px 25px $shadow
					&:hover
						span
							opacity: 1
						&::after
							transform: scale3d(1,1,1)
							box-shadow: 0 75px 45px $shadow
					span
						font-family:  'Open Sans Condensed', sans-serif
						width: 100%
						opacity: 0
						transition: all 0.5s
						transition-timing-function: cubic-bezier(0.2,1,0.3,1)
						text-shadow: 0 10px 12px $shadow
						font-size: 16px
						position: absolute
						top: 120%
						left: 0
						transition-delay: 0.15s
				&:hover
					top: 30%
					text-shadow: 0 75px 45px $shadow

header
	+container(80%)
	max-width: 1100px
	padding: 40px 0
	height: 20vh
	text-align: center
	transition: all 0.250s
	&:hover
		h1
			letter-spacing: 2px
			cursor: default
			span
				opacity: 1
				transform: scale3d(1,1,1)
				a
					opacity: 0.5
					&:hover
						opacity: 1
		h2
			letter-spacing: -1px
			width: 308px
			margin-top: -15px
			pointer-events: none
			&::before, &::after
				width: 15%
	h1
		font-family: 'Metropolis'
		font-size: 50px
		text-shadow: 0 20px 10px $shadow
		font-weight: normal
		text-align: center
		padding: 0
		margin: 0 0 15px 0
		position: relative
		left: 50%
		transform: translate(-50%, 0)
		transition: all 0.250s
		letter-spacing: 0
		span
			font-family: 'socicon'
			font-size: 20px
			width: 100%
			opacity: 0
			transition: all 0.5s
			transform: scale3d(0.5,0.5,1)
			transition-timing-function: cubic-bezier(0.2,1,0.3,1)
			text-shadow: 0 10px 12px $shadow
			position: absolute
			top: 130%
			left: 0
			transition-delay: 0.15s
			font-weight: normal
			a
				margin: 5px 10px
				padding: 0 5px
				color: white
				text-decoration: none
				transition: all 0.3s
	h2
		font-size: 20px
		text-shadow: 0 10px 12px $shadow
		font-weight: normal
		text-align: center
		padding: 0
		margin: 0
		position: relative
		display: block
		width: 324px
		left: 50%
		transform: translate(-50%, 0)
		transition: all 0.250s
		letter-spacing: 0
		&::before, &::after
			content: ''
			position: absolute
			top: 50%
			width: 12%
			border: 1px solid white
			box-shadow: 0 10px 12px $shadow
			transition: all 0.250s
		&::before
			left: 0
		&::after
			right: 0

footer
	+container(80%)
	max-width: 1100px
	height: 7vh
	text-align: center
	p
		font-size: 12px

.socicon:empty
	width: 1em